@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #00812E;
    --secondary-color: #D62511;
    --dark-color: #1A1A1A;
    --section-bg-grey: #f8f9fa;
    --font-family: "Inter", sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}


/* =================================================== GLOBAL STYLES */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
    transition: all 0.3s ease;
}

.btn-primary .fa-chevron-right {
    transition: all 0.3s ease;
    margin-left: 5px;
}

.btn-primary:hover {
    background-color: #11632d;
}

.btn-primary:hover .fa-chevron-right {
    transform: translateX(5px);
}

.btn-outline-secondary {
    border-color: var(--dark-color);
    color: var(--dark-color);
    transition: all 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: var(--dark-color);
    color: #fff;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-paragraph {
    color: #6c757d;
    font-size: 16px;
}

/* =================================================== GLOBAL STYLES */


/* =================================================== NAVBAR */
.navbar {
    padding: 0.5rem 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 10rem;
    height: auto;
}

.offcanvas-brand img {
    width: 8rem;
    height: auto;
}

.nav-link {
    font-weight: 500;
    color: #6c757d;
}

.nav-link:hover {
    color: var(--secondary-color);
}

/* hamburger */
.burger {
    position: relative;
    width: 30px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 20.5px;
    left: 5px;
}

.offcanvas {
    max-width: 80%;
}

.custom-toggler {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.custom-toggler span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--dark-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.btn-close {
    color: black !important;
    background-image: none !important;
    opacity: 1 !important;
    font-size: 1.5rem !important;
    padding: 0 10px 10px 0 !important;
    border: none !important;
}

.btn-close:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* hamburger */

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0.3rem 0;
    }

    .navbar-brand img {
        width: 8rem;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        padding: 0.3rem 0;
    }

    .navbar-brand img {
        width: 7rem;
    }
}

/* =================================================== NAVBAR */


/* =================================================== HERO */
.hero-section {
    background: var(--section-bg-grey);
    text-align: center;
}

.hero-content h1 {
    font-weight: bold;
    font-size: 2rem;
}

.hero-content p {
    color: #6c757d;
    margin-bottom: 20px;
}

.hero-buttons .btn {
    margin: 5px;
    width: 150px;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    display: block;
    margin: 20px auto 0;
    box-shadow: 2px 4px 20px #00812d41;
}

@media (min-width: 768px) {
    .hero-section {
        text-align: left;
        padding: 80px 0;
    }

    .hero-buttons {
        display: flex;
        gap: 15px;
    }
}

/* =================================================== HERO */


/* =================================================== About */
.about-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 15px;
    display: block;
    margin: 20px auto 0;
    box-shadow: 2px 4px 20px #00812d41;
}

/* =================================================== About */


/* =================================================== FOOTER */
.footer{
    background-color: var(--dark-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer a.footer-link {
    font-size: 15px;
    font-weight: 300;
    color: #9CA3AF;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footer p{
    font-size: 15px;
    font-weight: 300;
    color: #9CA3AF;
}

.footer a.footer-link:hover {
    color: #fff;
    text-decoration: none;
}

.footer-brand img {
    width: 10rem;
    height: auto;
}
/* =================================================== FOOTER */